<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/include/htmlHeader">
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->

<!-- MENU -->

<div th:insert="admin/include/htmlMenu"></div>


<!-- FEATURE -->
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td><h3><img src="/icons/27859_blank_document_file_paper_icon.png" height="48" width="48"/>Mô tả chi tiết môn học</h3></td>
            <td><h3><img src="/icons/27839_copy_curriculum vitae_documents_resume_icon.png" height="48" width="48"/> Giảng viên phụ trách</h3></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <!-- Thông tin Môn Học -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Tên Môn Học: <span th:text="${monHoc.tenMon}"></span></h5>
                        <p class="card-text"><strong>Mã Môn Học:</strong> <span th:text="${monHoc.maMon}"></span></p>
                        <p class="card-text"><strong>Chuyên khoa:</strong> <span
                                th:text="${monHoc.chuyenKhoa.tenChuyenKhoa}"></span></p>
                        <p class="card-text"><strong>Số Tín Chỉ:</strong> <span th:text="${monHoc.soTinChi}"></span></p>
                        <p class="card-text"><strong>Kỳ Học:</strong> <span th:text="${monHoc.kyHoc}"></span></p>
                        <p class="card-text"><strong>Mô Tả:</strong> <span th:text="${monHoc.moTa}"></span></p>
                    </div>
                </div>
            </td>
            <td>
                <!-- Thông tin Giảng Viên phụ trách -->
                <div class="card mt-3">
                    <div class="card-body">
                        <ul style="list-style: none; margin-top: 10px;">
                            <li th:each="giangVienMonHoc : ${giangVienList}">
                                <p class="card-text"><strong>Tên giảng viên: </strong><span
                                        th:text="${giangVienMonHoc.giangVien.hoTen}"></span></p>
                                <p class="card-text"><strong>Học hàm: </strong><span
                                        th:text="${giangVienMonHoc.giangVien.hocHam}"></span></p>
                                <p class="card-text"><strong>Học vị: </strong><span
                                        th:text="${giangVienMonHoc.giangVien.hocVi}"></span></p>
                                <p class="card-text"><strong>Học vị: </strong><span
                                        th:text="${giangVienMonHoc.giangVien.chuyenKhoa.tenChuyenKhoa}"></span></p>
                                <p class="card-text"><strong>Học vị: </strong><span
                                        th:text="${giangVienMonHoc.giangVien.email}"></span></p>
                                <p class="card-text"><strong>Học vị: </strong><span
                                        th:text="${giangVienMonHoc.giangVien.soDienThoai}"></span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3><img src="/icons/27840_copy_documents_duplicate_files_icon.png" height="48" width="48"/> Danh sách tiểu luận của môn học</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Tên tiểu luận</td>
            <td>Tên môn học</td>
            <td>Học viên</td>
            <td>Điểm</td>
            <td>Xem chi tiết</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tieuLuan : ${tieuLuanList}">
            <td th:text="${tieuLuan.tenTieuLuan}"></td>
            <td th:text="${tieuLuan.monHoc.tenMon}"></td>
            <td th:text="${tieuLuan.hocVien.hoTen}"></td>
            <td th:text="${tieuLuan.diem}"></td>
            <td style="text-align: center"><a th:href="@{/tieuluan/detail/{maTieuLuan}(maTieuLuan=${tieuLuan.id})}"><img style="width: 25px; height: auto"
                                                                                              src="/icons/icons8-tiles-96.png"/></a></td>
        </tr>
        </tbody>
    </table>
    <h3><img src="/icons/63760_documents_icon.png" height="48" width="48"/> Danh sách Luận văn của môn học</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Tên tiểu luận</td>
            <td>Tên môn học</td>
            <td>Học viên</td>
            <td>Điểm</td>
            <td>Xem chi tiết</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="luanVan : ${luanVanList}">
            <td th:text="${luanVan.tenLuanVan}"></td>
            <td th:text="${luanVan.hocVien.hoTen}"></td>
            <td th:text="${luanVan.giangVien.hoTen}"></td>
            <td th:text="${luanVan.diem}"></td>
            <td style="text-align: center"><a th:href="@{/luanvan/detail/{maLuanVan}(maLuanVan=${luanVan.id})}"><img style="width: 25px; height: auto"
                                                                                          src="/icons/icons8-tiles-96.png"/></a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer id="footer">

</footer>


</body>
</html>