<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/include/htmlHeader">
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->

<!-- MENU -->

<div th:insert="admin/include/htmlMenu"></div>


<!-- FEATURE -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <h3><img src="/icons/85139_google_wallet_google wallet_icon.png" height="48" width="48"/> Khoá học</h3>
            <p>Danh sách Khoá học đào tạo sau đại học</p>
               <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tên khoá học</th>
                    <th>Thông tin khoá học</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="khoahoc : ${khoaHocs}">
                    <td th:text="${khoahoc.tenKhoaHoc}"></td>
                    <td th:text="${khoahoc.moTa}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <h3><img src="/icons/6771584_black board_education_learning_nuclear_school_icon.png" height="48" width="48"/> Lớp học</h3>
            <p>Danh sách Lớp học đào tạo sau đại học</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">Mã lớp học</th>
                    <th style="text-align: center">Số lượng học viên</th>
                    <th style="text-align: center">Ngày bắt đầu</th>
                    <th style="text-align: center">Ngày kết thúc</th>
                    <th style="text-align: center">Thông tin chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lophoc : ${lopHocs}">
                    <td th:text="${lophoc.maLop}"></td>
                    <td th:text="${lophoc.soLuongToiDa}"></td>
                    <td th:text="${lophoc.ngayBatDau}"></td>
                    <td th:text="${lophoc.ngayKetThuc}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/lophoc/detail/{maLopHoc}(maLopHoc=${lophoc.id})}"><img
                                style="width: 25px; height: auto" src="/icons/icons8-tiles-96.png"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <h3><img src="/icons/37405_documents_folder_icon.png" height="48" width="48"/> Ngành học/Chuyên Khoa</h3>
            <p>Danh sách Ngành học/Chuyên khoa chương trình đào tạo sau đại học</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">Mã chuyên khoa</th>
                    <th style="text-align: center">Tên Chuyên khoa</th>
                    <th style="text-align: center">Thông tin khoá học</th>
                    <th style="text-align: center">Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="chuyenkhoa : ${chuyenKhoas}">
                    <td th:text="${chuyenkhoa.maChuyenKhoa}"></td>
                    <td th:text="${chuyenkhoa.tenChuyenKhoa}"></td>
                    <td th:text="${chuyenkhoa.moTa}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/chuyenkhoa/detail/{maChuyenKhoa}(maChuyenKhoa=${chuyenkhoa.id})}"><img
                                style="width: 25px; height: auto" src="/icons/icons8-tiles-96.png"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <h3><img src="/icons/27839_copy_curriculum vitae_documents_resume_icon.png" height="48" width="48"/> Giảng viên</h3>
            <p>Danh sách giảng viên</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">STT</th>
                    <th style="text-align: center">Tên giảng viên</th>
                    <th style="text-align: center">Học hàm</th>
                    <th style="text-align: center">Học vị</th>
                    <th style="text-align: center">Email</th>
                    <th style="text-align: center">Điện thoại</th>
                    <th style="text-align: center">Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="giangvien : ${giangViens}">
                    <td th:text="${giangvien.id}"></td>
                    <td th:text="${giangvien.hoTen}"></td>
                    <td th:text="${giangvien.hocHam}"></td>
                    <td th:text="${giangvien.hocVi}"></td>
                    <td th:text="${giangvien.email}"></td>
                    <td th:text="${giangvien.soDienThoai}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/giangvien/detail/{maGiangVien}(maGiangVien=${giangvien.id})}"><img
                                style="width: 25px; height: auto" src="/icons/icons8-tiles-96.png"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <h3><img src="/icons/27840_copy_documents_duplicate_files_icon.png" height="48" width="48"/> Tiểu luận</h3>
            <p>Danh sách bài Tiểu luận của học viên tham gia đào tạo sau đại học</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">Tên tiểu luận</th>
                    <th style="text-align: center">Tên môn học</th>
                    <th style="text-align: center">Tên giảng viên</th>
                    <th style="text-align: center"Học viên</th>
                    <th style="text-align: center">Điểm</th>
                    <th style="text-align: center">Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tieuluan : ${tieuLuans}">
                    <td th:text="${tieuluan.tenTieuLuan}"></td>
                    <td th:text="${tieuluan.monHoc.tenMon}"></td>
                    <td th:text="${tieuluan.giangVien.hoTen}"></td>
                    <td th:text="${tieuluan.hocVien.hoTen}"></td>
                    <td th:text="${tieuluan.diem}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/tieuluan/detail/{maTieuLuan}(maTieuLuan=${tieuluan.id})}"><img
                                style="width: 25px; height: auto" src="/icons/icons8-tiles-96.png"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <h3><img src="/icons/63760_documents_icon.png" height="48" width="48"/> Luận văn</h3>
            <p>Danh sách bài Luận văn của học viên tham gia đào tạo sau đại học</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">Tên luận văn</th>
                    <th style="text-align: center">Tên môn học</th>
                    <th style="text-align: center">Học viên thực hiện</th>
                    <th style="text-align: center">Giảng viên hướng dẫn</th>
                    <th>Điểm</th>
                    <th>Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="luanvan : ${luanVans}">
                    <td th:text="${luanvan.tenLuanVan}"></td>
                    <td th:text="${luanvan.monHoc.tenMon}"></td>
                    <td th:text="${luanvan.hocVien.hoTen}"></td>
                    <td th:text="${luanvan.giangVien.hoTen}"></td>
                    <td th:text="${luanvan.diem}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/luanvan/detail/{maLuanVan}(maLuanVan=${luanvan.id})}"><img
                                style="width: 25px; height: auto" src="/icons/icons8-tiles-96.png"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ABOUT -->


<!-- TEAM -->


<!-- Courses -->


<!-- TESTIMONIAL -->


<!-- CONTACT -->


<!-- FOOTER -->
<footer id="footer">

</footer>


</body>
</html>